.footer-message {
    opacity: 0.3;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .footer {
    font-weight: 600;
    margin: 5px;
  }
  